# Add application configuration variables here, as shown below.

CCB_USERNAME: apiuser
CCB_PASSWORD: apipwd
CCB_SUBDOMAIN: churchname

# the key below came from the secret_token.rb initializer and it now refers to this one
SECRET_KEY: a9b09823409bc3847092833dd3e52abababcacabcabcabc23287623872fdb00ec64021a19244db7d17d9e7d6d6cbab6f76a5ef6568edb2d169bdf84286093325

